*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #000000;
	list-style: none;
	box-sizing: border-box;
	}
a:hover{
	text-decoration: none;
}
a:link{
	text-decoration: none;
}
body{
background-color: rgb(255, 255, 255);	
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
main{
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
}
.titlebox{
	width: 100%;
	
}
.titlebox>ul{
	width: 100%;
	overflow: hidden;
	color: #000000;
	border-bottom:#e7e7e7 solid 1px;
	display: flex;
	
}
/* 头部 */
.titlebox>ul>li{
	flex: 1;
	float: left;
	margin-right: 10px;
}
.titlebox>ul>li:nth-of-type(7){
	flex: 2;
}
.titlebox>ul>li:hover a{
	color:rgb(49,194,124) ;
}
/* logo */
.titlebox>ul>li:nth-of-type(1){
	text-align: center;
	line-height: 100px;
	width: 200px;
	height: 100px;
}
/* 音乐馆 */
.titlebox>ul>li:nth-of-type(3){
	text-align: center;
	line-height: 100px;
	font-size: 1.5em;
	width: 100%;
	height: 100px;
	color: #000;
}
.titlebox>ul>li:nth-of-type(3)>a{
	color: #000;
}
.titlebox>ul>li:nth-of-type(3)>a:hover{
	color:rgb(49,194,124);
}
/* 我的音乐 */
.titlebox>ul>li:nth-of-type(2){
	text-align: center;
	line-height: 100px;
	font-size: 1.5em;
	width: 112px;
	height: 100px;
	color: #fff;
	background-color: rgb(49,194,124);
}
.titlebox>ul>li:nth-of-type(2)>a{
	color: #fff;
}
.titlestyle{
	text-align: center;
	line-height: 100px;
	font-size: 1.5em;
	height: 100px;
	color: #000;
}

/* 搜索框 */
.inputli{
	width: 600px;
	top: 30px;
	position: relative;
}
/* 搜索框符号 */
.layui-icon-search{
	width: 40px;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	border: none;
	background-color: transparent ;
	position: absolute;
	right: 0px;
	top: -5px;
}
.layui-icon-search:hover{
	color: #009688;
}
/* 登录 */
#login-btn{
	width: 80px;
}
/* 开通VIP */
.titlebox>ul>li:nth-of-type(9){
	
	background-color:rgb(49,194,124);
	color: #fff;
	width: 150px;
	height: 40px;
	line-height: 40px;
	padding-left: 40px;
	border-radius: 5px;
	margin-top:30px ;
	position: relative;
}
.titlebox>ul>li:nth-of-type(9)>a{
	color: #fff;
}
.titlebox>ul>li:nth-of-type(9):hover a{
	color: #fff;
}
/* 开通VIP符号 */
#layui-icon-triangle-d1{
	position: absolute;
	right: 5px;
	color: #fff;
}
.titlebox>ul>li:nth-of-type(9):hover span{
	transform: rotateX(180deg);
}
/* 充值 */
.titlebox>ul>li:nth-of-type(10){
	border: #8d8d8d 0.5px solid;
	color: #000;
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	margin-top:30px ;
	position: relative;
}
.titlebox>ul>li:nth-of-type(10):hover{
	background-color:rgb(49,194,124) ;
	border: #ffffff 0.5px solid;
}
.titlebox>ul>li:nth-of-type(10):hover a{
	color:#fff ;
	
}
#layui-icon-triangle-d2{
	position: absolute;
	right: 5px;
	width: #000;
}
.titlebox>ul>li:nth-of-type(10):hover span{
	color: #fff;
	
}
.titlebox2{
	overflow: hidden;
	background-color: #fff;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.titlebox2>ul{
	/* margin-left: 260px; */
}
.titlebox2>ul>li{
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right:50px ;
}
.titlestyle2{
	color:#000000;
	font-size: 1.2em;
}
.titlebox2>ul>li:nth-of-type(4)>a{
	color: rgb(49,194,124);
}
.titlebox2>ul>li:hover a{
	color: rgb(49,194,124);
}

/* ==================================================== */
/* 页脚 */
.footer{
	height: 645px;
	width: 100%;
	background-color: rgb(51,51,51);
	position: relative;
	display:block;
	
}
.footer-box{
	position: relative;
}
.logo1{
	position: absolute;
	top: 125px;
	left: 320px;
	width: 350px;
	height: 150px;
}
.logo1>div{
	float: left;
	margin-right: 60px;
	margin-top: 40px;
}
.logo1>div>span,.logo1>p{
	color: rgb(127,127,127) ;
}
.logo1>div>span:nth-of-type(1){
	font-size: 3em;
}
#Android,#iPhone{
	margin-left: 10px;
}
.logo1>div:hover span{
	color:rgb(49,194,124) ;
}
.logo2{
	position: absolute;
	top: 125px;
	left: 820px;
	width: 350px;
	height: 170px;
}
.logo2>div{
	float: left;
	margin-right: 60px;
	margin-top: 40px;
}
.logo2>div>span,.logo2>p{
	color: rgb(127,127,127) ;
}
.logo2>div>span:nth-of-type(1){
	font-size: 3em;
	
}
#qq,#wx,#wb{
	margin-left:8px;
}
.logo2>div:nth-of-type(1):hover span:nth-of-type(1){
	color: #00FF00;
}
.logo2>div:nth-of-type(1):hover span:nth-of-type(2){
	color:rgb(49,194,124) ;
}
.logo2>div:nth-of-type(2):hover span:nth-of-type(1){
	color: #55aaff;
}
.logo2>div:nth-of-type(2):hover span:nth-of-type(2){
	color:rgb(49,194,124) ;
}
.logo2>div:nth-of-type(3):hover span:nth-of-type(1){
	color: #ff5500;
}
.logo2>div:nth-of-type(3):hover span:nth-of-type(2){
	color:rgb(49,194,124) ;
}
.logo3{
	position: absolute;
	top: 125px;
	right: 300px;
	width: 290px;
	height: 170px;
}
.logo3>div>ul>li{
	float: left;
	margin-right: 30px;
}
.logo3-box{
	margin-top: 40px;
}
.logo3>p,.logo3-box>ul>li{
	color: rgb(127,127,127) ;
}
.logo3-box>ul>li:hover{
	color:rgb(49,194,124) ;
}
.logo4{
	position: absolute;
	top: 380px;
	left: 320px;
	width: 220px;
	height: 80px;
}
.logo4>p{
	color: rgb(127,127,127) ;
}
.logo4-box>ul>li{
	float: left;
	margin-right: 20px;
	color: rgb(127,127,127) ;
}
.logo4-box>ul{
	margin-top: 40px;
}
.logo4-box>ul>li:hover{
	color:rgb(49,194,124) ;
}
.logo5{
	position: absolute;
	top: 380px;
	left: 780px;
	width: 120px;
	height: 90px;
}
.logo5>div:nth-of-type(2){
	margin-top: 40px;
}
.logo5>div:nth-of-type(2):hover{
	color:rgb(49,194,124) ;
}
.logo5>div{
	color: rgb(127,127,127) ;
}

.logo6{
	position: absolute;
	bottom: -640px;
	left: 580px;
	width: 690px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
}
.logo6>div{
	color: rgb(127,127,127) ;
}
.logo6>div:hover{
	color:rgb(49,194,124) ;
}
/* 点击登录后 */
#login-btn>img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-top: 10px;
	margin-left: 30px;
	display: none;
}
#loginbtn{
	margin-left: 130px;
	margin-top: 40px;
}
.logintext{
	display: none;
	width: 80px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	border-radius: 50%;
	background-color:rgb(49,194,124) ;
	color: #fff;
	font-weight: bolder;
	margin-top: 10px;
	margin-left: 29px;
	}

/* =========================== */
/* 内容部分 */
.outerbox{
	width: 1714px;
	margin-top: 80px;
	/* background-color: #009F95; */
	display: flex;
}
.menus{
	margin-left: 100px;
	width: 180px;
	
	border: rgb(231,231,231) solid 1px;
	/* padding: 10px; */
}
.details{
	margin-left: 35px;
	/* width: 950px; */
	
	/* background-color: #00F7DE; */
}
/* 菜单 */
.menus>div>p{
	height: 60px;
	line-height: 60px;
	margin: 0 10px;
	font-size: 30px;
	border-bottom: 1px rgb(235,235,235) solid;
	margin-bottom: 10px;
}
.menus>div{
	margin-bottom:55px;
}
.menus>div>ul>li{
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
}
.menus>div>ul>li:hover{
	color: rgb(49,194,124);
}
.menus>div:nth-of-type(1)>ul>li:nth-of-type(1){
	background-color: rgb(49,194,124);
	color: #fff;
}
/* 内容部分 */
/* 头部 */
.details-head{
	margin-top: 10px;
}
.details-head>span{
	display: inline-block;
	height: 25px;
	line-height: 25px;
	margin-right: 20px;
}
.details-head>span:nth-of-type(1){
	font-size: 25px;
}

.details-head>span:nth-of-type(3):hover{
	color:rgb(49,194,124) ;
	cursor: pointer;
}
/* 按钮部分 */
.details-head>ul{
	margin-top: 35px;
	overflow: hidden;
}
.details-head>ul>li{
	float: left;
	width: 125px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 3px;
	margin-right: 10px;
	border:rgb(201,201,201) solid 1px;
}
.details-head>ul>li>div>span{
	color: rgb(153,153,153);
}
.details-head>ul>li:hover{
	background-color: rgb(237,237,237);
}
.details-head>ul>li:nth-of-type(1){
	background-color: rgb(49,194,124);
	border: none;
}
.details-head>ul>li:nth-of-type(1)>div,
.details-head>ul>li:nth-of-type(1)>div>span
{
	color: #fff;
}
/* 身体部分 */
.details-body{
	margin-top: 40px;
}
.details-body-head>ul{
	margin-left: 220px;
	overflow: hidden;
}
.details-body-head>ul>li{
	float: left;
	color: rgb(153,153,153);
}
.details-body-head>ul>li:nth-of-type(1){
	margin-right: 420px;
}
.details-body-head>ul>li:nth-of-type(2){
	margin-right: 540px;
}
/* 身体部分内容 */
.details-body-body{
	width: 100%;
	height: 500px;
	margin-top: 25px;
	/* background-color: #00FF00 */
}
.details-body-body>ul>li{
	height: 70px;
	line-height: 70px;
	position: relative;
	margin-bottom: 10px;
}
.details-body-body>ul>li>div{
	float: left;
}
.details-body-body>ul>li>div:nth-of-type(1){
	position: absolute;
	margin-left: 100px;
}
.details-body-body>ul>li>div:nth-of-type(2){
	width: 70px;
	height: 70px;
	position: absolute;
	margin-left: 200px;
}
.details-body-body>ul>li>div:nth-of-type(2)>img{
	width: 100%;
	height: 100%;
}
.details-body-body>ul>li>div:nth-of-type(3){
	position: absolute;
	margin-left: 300px;
}
.details-body-body>ul>li>div:nth-of-type(4){
	position: absolute;
	margin-left: 540px;
	display: none;
}
.details-body-body>ul>li:hover div:nth-of-type(4){
	display: block;
}
.details-body-body>ul>li>div:nth-of-type(4)>span{
	display: inline-block;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	border: rgb(153,153,153) solid 1px;
	border-radius: 50%;
	color: rgb(153,153,153);
}
.details-body-body>ul>li>div:nth-of-type(4)>span:hover{
	color: rgb(49,194,124);
	border: rgb(49,194,124) solid 1px;
}
.details-body-body>ul>li>div:nth-of-type(5){
	position: absolute;
	margin-left: 665px;
}
.details-body-body>ul>li>div:nth-of-type(6){
	color: rgb(153,153,153);
	position: absolute;
	margin-left: 1230px;
}
.details-body-body>ul>li>div:nth-of-type(1){
	color: #000;
	font-size: 2em;
}
.details-body-body>ul>li:nth-of-type(1)>div:nth-of-type(1){
	color: rgb(255,66,34);
	font-size: 3em;
}

.details-body-body>ul>li:nth-of-type(2)>div:nth-of-type(1){
	color: rgb(255,66,34);
	font-size: 3em;
}

.details-body-body>ul>li:nth-of-type(3)>div:nth-of-type(1){
	color: rgb(255,66,34);
	font-size: 3em;
}
.details-body-body>ul>li>div:nth-of-type(3):hover,
.details-body-body>ul>li>div:nth-of-type(5):hover{
	color: rgb(49,194,124);
	cursor: pointer;
}















.









