*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #000000;
	list-style: none;
	box-sizing: border-box;
	}
a:hover{
	text-decoration: none;
}
a:link{
	text-decoration: none;
}
body{
background-color: rgb(255, 255, 255);	
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
main{
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
}
.titlebox{
	width: 100%;
	
}
.layui-carousel>[carousel-item]>* {
	background-color: #fff;
}
.titlebox>ul{
	width: 100%;
	overflow: hidden;
	color: #000000;
	border-bottom:#e7e7e7 solid 1px;
	display: flex;
	
}
/* 头部 */
.titlebox>ul>li{
	flex: 1;
	float: left;
	margin-right: 10px;
}
.titlebox>ul>li:nth-of-type(7){
	flex: 2;
}
.titlebox>ul>li:hover a{
	color:rgb(49,194,124) ;
}
/* logo */
.titlebox>ul>li:nth-of-type(1){
	text-align: center;
	line-height: 100px;
	width: 200px;
	height: 100px;
}
/* 音乐馆 */
.titlebox>ul>li:nth-of-type(3){
	text-align: center;
	line-height: 100px;
	font-size: 1.5em;
	width: 100%;
	height: 100px;
	color: #000;
}
.titlebox>ul>li:nth-of-type(3)>a{
	color: #000;
}
.titlebox>ul>li:nth-of-type(3)>a:hover{
	color:rgb(49,194,124);
}
/* 我的音乐 */
.titlebox>ul>li:nth-of-type(2){
	text-align: center;
	line-height: 100px;
	font-size: 1.5em;
	width: 112px;
	height: 100px;
	color: #fff;
	background-color: rgb(49,194,124);
}
.titlebox>ul>li:nth-of-type(2)>a{
	color: #fff;
}
.titlestyle{
	text-align: center;
	line-height: 100px;
	font-size: 1.5em;
	height: 100px;
	color: #000;
}

/* 搜索框 */
.inputli{
	width: 600px;
	top: 30px;
	position: relative;
}
/* 搜索框符号 */
.layui-icon-search{
	width: 40px;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	border: none;
	background-color: transparent ;
	position: absolute;
	right: 0px;
	top: -5px;
}
.layui-icon-search:hover{
	color: #009688;
}
/* 登录 */
#login-btn{
	width: 80px;
}
/* 开通VIP */
.titlebox>ul>li:nth-of-type(9){
	
	background-color:rgb(49,194,124);
	color: #fff;
	width: 150px;
	height: 40px;
	line-height: 40px;
	padding-left: 40px;
	border-radius: 5px;
	margin-top:30px ;
	position: relative;
}
.titlebox>ul>li:nth-of-type(9)>a{
	color: #fff;
}
.titlebox>ul>li:nth-of-type(9):hover a{
	color: #fff;
}
/* 开通VIP符号 */
#layui-icon-triangle-d1{
	position: absolute;
	right: 5px;
	color: #fff;
}
.titlebox>ul>li:nth-of-type(9):hover span{
	transform: rotateX(180deg);
}
/* 充值 */
.titlebox>ul>li:nth-of-type(10){
	border: #8d8d8d 0.5px solid;
	color: #000;
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	margin-top:30px ;
	position: relative;
}
.titlebox>ul>li:nth-of-type(10):hover{
	background-color:rgb(49,194,124) ;
	border: #ffffff 0.5px solid;
}
.titlebox>ul>li:nth-of-type(10):hover a{
	color:#fff ;
	
}
#layui-icon-triangle-d2{
	position: absolute;
	right: 5px;
	width: #000;
}
.titlebox>ul>li:nth-of-type(10):hover span{
	color: #fff;
	
}
.titlebox2{
	overflow: hidden;
	background-color: #fff;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.titlebox2>ul{
	/* margin-left: 260px; */
}
.titlebox2>ul>li{
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right:50px ;
}
.titlestyle2{
	color:#000000;
	font-size: 1.2em;
}
.titlebox2>ul>li:nth-of-type(9)>a{
	color: rgb(49,194,124);
}
.titlebox2>ul>li:hover a{
	color: rgb(49,194,124);
}

/* ==================================================== */
/* 页脚 */
.footer{
	height: 645px;
	width: 100%;
	background-color: rgb(51,51,51);
	position: relative;
	display:block;
	
}
.footer-box{
	position: relative;
}
.logo1{
	position: absolute;
	top: 125px;
	left: 320px;
	width: 350px;
	height: 150px;
}
.logo1>div{
	float: left;
	margin-right: 60px;
	margin-top: 40px;
}
.logo1>div>span,.logo1>p{
	color: rgb(127,127,127) ;
}
.logo1>div>span:nth-of-type(1){
	font-size: 3em;
}
#Android,#iPhone{
	margin-left: 10px;
}
.logo1>div:hover span{
	color:rgb(49,194,124) ;
}
.logo2{
	position: absolute;
	top: 125px;
	left: 820px;
	width: 350px;
	height: 170px;
}
.logo2>div{
	float: left;
	margin-right: 60px;
	margin-top: 40px;
}
.logo2>div>span,.logo2>p{
	color: rgb(127,127,127) ;
}
.logo2>div>span:nth-of-type(1){
	font-size: 3em;
	
}
#qq,#wx,#wb{
	margin-left:8px;
}
.logo2>div:nth-of-type(1):hover span:nth-of-type(1){
	color: #00FF00;
}
.logo2>div:nth-of-type(1):hover span:nth-of-type(2){
	color:rgb(49,194,124) ;
}
.logo2>div:nth-of-type(2):hover span:nth-of-type(1){
	color: #55aaff;
}
.logo2>div:nth-of-type(2):hover span:nth-of-type(2){
	color:rgb(49,194,124) ;
}
.logo2>div:nth-of-type(3):hover span:nth-of-type(1){
	color: #ff5500;
}
.logo2>div:nth-of-type(3):hover span:nth-of-type(2){
	color:rgb(49,194,124) ;
}
.logo3{
	position: absolute;
	top: 125px;
	right: 300px;
	width: 290px;
	height: 170px;
}
.logo3>div>ul>li{
	float: left;
	margin-right: 30px;
}
.logo3-box{
	margin-top: 40px;
}
.logo3>p,.logo3-box>ul>li{
	color: rgb(127,127,127) ;
}
.logo3-box>ul>li:hover{
	color:rgb(49,194,124) ;
}
.logo4{
	position: absolute;
	top: 380px;
	left: 320px;
	width: 220px;
	height: 80px;
}
.logo4>p{
	color: rgb(127,127,127) ;
}
.logo4-box>ul>li{
	float: left;
	margin-right: 20px;
	color: rgb(127,127,127) ;
}
.logo4-box>ul{
	margin-top: 40px;
}
.logo4-box>ul>li:hover{
	color:rgb(49,194,124) ;
}
.logo5{
	position: absolute;
	top: 380px;
	left: 780px;
	width: 120px;
	height: 90px;
}
.logo5>div:nth-of-type(2){
	margin-top: 40px;
}
.logo5>div:nth-of-type(2):hover{
	color:rgb(49,194,124) ;
}
.logo5>div{
	color: rgb(127,127,127) ;
}

.logo6{
	position: absolute;
	bottom: -640px;
	left: 580px;
	width: 690px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
}
.logo6>div{
	color: rgb(127,127,127) ;
}
.logo6>div:hover{
	color:rgb(49,194,124) ;
}
/* 点击登录后 */
#login-btn>img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-top: 10px;
	margin-left: 30px;
	display: none;
}
#loginbtn{
	margin-left: 130px;
	margin-top: 40px;
}
.logintext{
	display: none;
	width: 80px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	border-radius: 50%;
	background-color:rgb(49,194,124) ;
	color: #fff;
	font-weight: bolder;
	margin-top: 10px;
	margin-left: 29px;
	}


/* =========================== */
/* 内容部分 */
.outerbox{
	width: 1714px;
	/* height: 900px; */
	/* background-color: #0000FF */
}
/* 轮播图部分 */
.outerbox>div:nth-of-type(1){
	text-align: center;
}
#carousel1>div>div>img{
	width: 800px;
	height: 350px;
}
/* 搜索框部分 */
.outerbox>div:nth-of-type(2){
position: relative;
overflow: hidden;
}
.outerbox>div:nth-of-type(2)>div{
	float: left;
}
.outerbox>div:nth-of-type(2)>div:nth-of-type(1){
	width: 140px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: 1px solid rgb(153,153,153);
	border-radius: 2px;
	position: absolute;
	left: 70px;
}
.outerbox>div:nth-of-type(2)>div:nth-of-type(1)>span{
	margin-left: 10px;
}
.outerbox>div:nth-of-type(2)>div:nth-of-type(1):hover,
.outerbox>div:nth-of-type(2)>div:nth-of-type(1):hover span{
	color: rgb(49,194,124);
}
.outerbox>div:nth-of-type(2)>div:nth-of-type(2){
	position: relative;
	left: 230px;
}
.outerbox>div:nth-of-type(2)>div:nth-of-type(2)>input{
	width: 490px;
	height: 50px;
	border: none;
	border: rgb(153,153,153) 1px solid ;
	padding-left: 10px;
}
.outerbox>div:nth-of-type(2)>div:nth-of-type(2)>span{
	display: inline-block;
	height: 48px;
	width: 48px;
	line-height: 48px;
	text-align: center;
	color: #fff;
	font-size: 2em;
	background-color: rgb(49,194,124);
	position: absolute;
	right: 1px;
	top: 1px;
	cursor: pointer;
}
.outerbox>div:nth-of-type(2)>div:nth-of-type(3){
	height: 50px;
	line-height: 50px;
	position: absolute;
	right: 50px;
}
.outerbox>div:nth-of-type(2)>div:nth-of-type(3)>span{
	margin-left: 5px;
}
.outerbox>div:nth-of-type(2)>div:nth-of-type(3):hover,
.outerbox>div:nth-of-type(2)>div:nth-of-type(3):hover span{
	color: rgb(49,194,124);
}
/* 菜单部分*/
.outerbox>div:nth-of-type(3){
	margin-top: 50px;
	margin-bottom: 50px;
}
.outerbox>div:nth-of-type(3)>ul{
	overflow: hidden;
}
.outerbox>div:nth-of-type(3)>ul>li{
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 110px;
	cursor: pointer;
}
.outerbox>div:nth-of-type(3)>ul>li,
.outerbox>div:nth-of-type(3)>ul>li>span{
	color: rgb(119,119,119);
	font-size: 1.5em;
}
.outerbox>div:nth-of-type(3)>ul>li:nth-of-type(1)>span{
	margin-right: 10px;
}
.outerbox>div:nth-of-type(3)>ul>li:nth-of-type(1),
.outerbox>div:nth-of-type(3)>ul>li:nth-of-type(1)>span{
	color: rgb(49,194,124);
}
.outerbox>div:nth-of-type(3)>ul>li:hover,
.outerbox>div:nth-of-type(3)>ul>li:hover span{
	color: rgb(49,194,124);
}
.outerbox>div:nth-of-type(3)>ul{
	margin-left: 180px;
}
/* 内容部分 */
.bottom{
	margin-bottom: 40px;
}
.outerbox>div>div:nth-of-type(1){
	overflow: hidden;
}
.outerbox>div>div>p{
	float: left;
}
.outerbox>div>div>p:nth-of-type(1){
	font-size: 2em;
	margin-left:800px ;
}
.outerbox>div>div>p:nth-of-type(2){
	height: 37px;
	line-height: 50px;
	margin-left: 650px;
	margin-bottom: 40px;
}
.outerbox>div>div>p:nth-of-type(2):hover,
.outerbox>div>div>p:nth-of-type(2):hover span
{
	color: rgb(49,194,124);
	cursor: pointer;
}
.outerbox>div>div:nth-of-type(2)>div:nth-of-type(1){
	margin-left: 60px;
	width: 315px;
	height: 415px;
	position: relative;
	overflow: hidden;
	margin-right: 20px;
}
.outerbox>div>div:nth-of-type(2)>div:nth-of-type(1):hover img{
	transform: scale(1.1);
}
.outerbox>div>div:nth-of-type(2)>div:nth-of-type(1)>img{
	width: 100%;
	height: 100%;
	transition: 0.9s;
}
.outerbox>div>div:nth-of-type(2)>div:nth-of-type(1)>div{
	width: 315px;
	height: 120px;
	background-color: #000000;
	opacity: .8;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.outerbox>div>div:nth-of-type(2)>div:nth-of-type(1)>div>p{
	color: #fff;
	cursor: pointer;
}
.outerbox>div>div:nth-of-type(2)>div:nth-of-type(1)>div>p:nth-of-type(1),
.outerbox>div>div:nth-of-type(2)>div:nth-of-type(1)>div>p:nth-of-type(2){
	font-size: 22px;
	margin-top: 5px;
}
.outerbox>div>div:nth-of-type(2)>div:nth-of-type(1)>div>p:nth-of-type(3){
	margin-top: 5px;
	font-size: 25px;
}
.outerbox>div>div:nth-of-type(2){
	display: flex;
	
}
.outerbox>div>div:nth-of-type(2)>div:nth-of-type(2){
	width: 100%;
	height: 415px;
	/* border: #000000 solid 1px; */
}

.outerbox>div>div:nth-of-type(2)>div:nth-of-type(2)>ul>li{
	width: 610px;
	height: 195px;
	display: flex;
	cursor: pointer;
	float: left;
	margin-bottom: 25px;
	/* background-color: #00F7DE; */
}
.outerbox>div>div:nth-of-type(2)>div:nth-of-type(2)>ul>li>div:nth-of-type(1){
	width: 150px;
	height: 195px;
	overflow: hidden;
	margin-right: 10px;
}
.outerbox>div>div:nth-of-type(2)>div:nth-of-type(2)>ul>li>div:nth-of-type(1):hover img{
	transform: scale(1.1);
}
.outerbox>div>div:nth-of-type(2)>div:nth-of-type(2)>ul>li>div:nth-of-type(1)>img{
	width: 150px;
	height: 195px;
	transition: 0.9s;
}
.outerbox>div>div:nth-of-type(2)>div:nth-of-type(2)>ul>li>div:nth-of-type(2){
	position: relative;
}
.outerbox>div>div:nth-of-type(2)>div:nth-of-type(2)>ul>li>div:nth-of-type(2)>p{
	color: rgb(153,153,153);
}
.outerbox>div>div:nth-of-type(2)>div:nth-of-type(2)>ul>li>div:nth-of-type(2)>p:nth-of-type(1){
	color: #000000;
	font-size: 18px;
	margin-bottom: 20px;
}
.outerbox>div>div:nth-of-type(2)>div:nth-of-type(2)>ul>li>div:nth-of-type(2)>p:nth-of-type(4){
	color: rgb(49,194,124);
	font-size: 2em;
	position: absolute;
	bottom: 10px;
}
